@import '../../style/variables.scss';

.app {
    &__header{
        max-height: 200px;
        padding: 35px 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        color: $main-color;
    }
    &__menu{
        overflow: auto;
        list-style-type: none;
        display: flex;
        gap: 40px;
        li {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-decoration: none;
            color: $dark;
            &:hover{
                color: $main-color;
            }
        }
    }
    &__burger{
        display: none;
    }
    @media (max-width: 768px) {
        &__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            span{
                position: absolute;
                background-color: $main-color;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0.5ms;        
            }
            &::before, &::after{
                content: '';
                background-color: $main-color;
                position: absolute;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease 0.5ms;  
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            &_active{
                &::before{
                    transform: rotate(45deg);
                    top: 9px;
                }
                &::after{
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                span{
                    transform: scale(0);
                }
            }
        }
        &__menu{
            position: fixed;
            top: 20%;
            left: 60%;
            right: auto;
            width: 200px;
            height: 27%;
            padding-top: 2%;
            flex-direction: column;
            align-items: center;
            background-color: $white-text;
            transition: all 0.3s ease; 
            &_active{
                visibility: visible;
            }
            &_hide{
                visibility:hidden;
            }
        }
    }
    @media (max-width: 576px){
        &__menu{
            left: 50%;
        }
    }
    @media (max-width: 375px){
        &__menu{
            left: 40%;
            li {
                font-size: 22px;
            }
        }
        &__logo{
            padding-right: 10px;
        }
    }
}